/* Barra de navegacion */
.navbar {
    background-color: #d2d4d8;
    width: 100%;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
    position: fixed;
    z-index: 100;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color:white;
    color: black;
  }
  
  .navbar .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
      display: none;
     
    }
      
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  /* Estilos generales*/

body {
 	background: #E9ECF4;
	color:#12203E;
	font-family: 'Nunito Sans', sans-serif;
 

}
h1 {
  font-size: 3rem;
  font-family: 'Nunito Sans', sans-serif;
}
h2 {
  font-size: 1.5rem;
  font-family: 'Nunito Sans', sans-serif;
}
h3 {
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
}


.principal {
  background: #E9ECF4;
	color: #12203E;
  width: 90%;
  text-align: justify;
	align-items: center;
	justify-content: center;
  padding: 100px;
  

}

p {
  font-family: 'Nunito Sans', sans-serif; 
  font-size: 16px; 
  line-height: 1.5; 
  margin-bottom: 20px; 
}
.titulo{
  text-align: center;
}

.imagen {
  width: 80%; 
  max-height: 100vh; 
  padding-top: 30px;
  padding-left: 70px;  
  
   
 }

.copete{
  font-weight: bold;
  text-align: justify;
  padding-top: 10px;
  
}

.autor {
  text-align: right; 
  font-weight: bold;
  }

.pie {
  text-align: center; 
   font-size: 12px; 
  }
  
.pie-de-pagina {
  text-align: center;
}
ul {
  list-style-type: disc; 
  padding-left: 20px; }   

li {
  margin: 10px 0; 
}


.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFFF00; 
  color: #12203E; 
  text-decoration: none; 
  border: 2px solid #12203E; 
  border-radius: 5px; 
  cursor: pointer; 
  }

#map {
  display: flex;
  width: 100%;
  height: 400px;
  margin: 30px;
}
@media screen and (max-width: 600px){
 
 .titulo {
    font-size: 1rem;
  }
  p {
    font-size: 14px; 
    line-height: 1.5; 
    margin-bottom: 20px; 
  }
  .pie {
    font-size: 8px; 
    }
  .autor{
    font-size:10px;
  }
  .principal{
    margin-left: 10px;
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) {
 
  .imagen {
    width: 70%; 
    max-width: 100%; 
    height: auto; 
    padding-left: 150px;
  }
 
  p {
    padding-left: 150px;
    padding-right: 200px;
    font-size:  35px; 
    line-height: 1.5; 
    margin-bottom: 20px; 
  }
  .pie {
    font-size: 15px; 
    }
  .autor{
    font-size:18px;
  }
  .principal {
    margin-left: 60px;
  }
}

  
  


  