/* Barra de navegacion */
.navbar {
    background-color: white;
    width: 100%;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
    position: fixed;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color:white;
    color: black;
  }
  
  .navbar .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
      display: none;
     
    }
      
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  /* Estilos generales*/
*{ margin: 0;
   padding: 0;
}
body {
	background: #E9ECF4;
	color:#12203E;
	font-family: 'Nunito Sans', sans-serif;
}
h1 {
  font-size: 3rem;
  font-family: 'Nunito Sans', sans-serif;
}
h2 {
  font-size: 1.5rem;
  font-family: 'Nunito Sans', sans-serif;
}
h3 {
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
}
/*Encabezado*/
.encabezado {
	background:#E9ECF4;
	color: #12203E;
  text-align: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
  width: 90%;
  margin: 20px auto;
  padding-top: 70px;
  
}
.bloc {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.bloc_bis {
  height: 300px;
  background-size: cover;
  background-position: center;
  transition: 0.75s ease-in-out;
  flex: 1;
}
.imagen {
  display: none;
}

.__uno {
  background-image: url("../media/image/1Gran_marcha.jpg");
}

.__dos {
  background-image: url("../media/image/2Marcha_antinuclear.jpg");
}

.__tres {
  background-image: url("../media/image/3Movimiento_Antinuclear.jpg");
}
.__cuatro {
  background-image: url("../media/image/4Marcha_Plurinacional.jpg");
}

.__cinco {
  background-image: url("../media/image/5Marcha_Plurinacional.jpg");
}

.__seis {
  background-image: url("../media/image/6Marcha_Plurinacional.jpg");
}

.bloc_bis:hover {
  flex: 10;
}


@media screen and (max-width: 600px) {
  
  .bloc_bis {
    display: none;
  }
  .imagen{
    display: flex;
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    margin: 20px;
  }
  .h1{
    font-size: 2rem;
  }
  .h2{
    font-size: 1rem;
  }
  
}
/*Estilo main*/  

	
.principal {
	background:#E9ECF4;
	color: #12203E;
	padding: 20px, auto;
	border-radius: 4px;
}

.principal .actualidad{
  background: #E9ECF4;
	color: #12203E;
  text-align: center;
	align-items: center;
	justify-content: center;
  /*height: 100vh;*/
  padding-top: 90px;
}
  
.grid-container-actualidad {
  display: grid;
  gap: 20px;
  background-color: #E9ECF4;
  padding: 20px;
  
  }
  
/*.grid-item a img {
  max-width: 50%; 
  height: auto; 
  width: 100%; 
  max-height: 200px; */
  
.item1 {
  grid-column: 1 / span 2;
  grid-row: 1 /span 4;
  }
    
.item2 {
  grid-column: 3;
  grid-row: 1;
  }

.item3 {
  grid-column: 3;
  grid-row: 2;
  }

.item4 {
  grid-column: 3;
  grid-row: 3;
  }

.item5 {
  grid-column: 3;
  grid-row: 4;
  }
@media screen and (max-width: 600px) {
  .item1 {
    grid-column: 1 ;
    grid-row: 1;
    }
    
  .item2 {
    grid-column: 1;
    grid-row: 2;
    }

  .item3 {
    grid-column: 1;
    grid-row: 3;
    }

  .item4 {
    grid-column: 1;
    grid-row: 4;
    }

  .item5 {
    grid-column: 1;
    grid-row: 5;
    } 
  }
  
  


	
}
.principal .vigilancia{
  background: #bf92f3;
	color: #12203E;
  text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
  height: 100vh;
  
  
	
}
/*Seccion Sobre Nosotros*/
.sobre-nosotros {
  background-color: #12203E;
  color: white;
  padding: 20px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: justify;
  margin: 20px auto;
  padding-top: 90px;
  border-radius: 4px;
}

.sobre-nosotros h2 {
   margin-bottom: 30px; 
}

.sobre-nosotros p {
  font-family: 'Nunito Sans', sans-serif; 
  font-size: 16px; 
  line-height: 1.5; 
  margin-bottom: 20px; 
}

.video {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  margin-top: 20px;
  
}
 .video1 {
  border: 2px solid #ffffff; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.video2 {
  border: 2px solid #ffffff; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.video .video1,
.video .video2 {
  margin:20px; 
}


.pie-de-pagina {
	background: #f8caca;
	color: #12203E;
  text-align: center;
	display: flex;
	align-items: center;
	justify-content: center; 
  grid-column: span 3;
}














